<p>directives works!</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody *ngFor="let emp of employee,let i=index">
        <tr>
            <td>{{i}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.dept}}</td>
           
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Color</th>
           
        </tr>
    </thead>
    <tbody *ngFor="let car of Cars,let i=index">
        <tr>
            <td>{{i}}</td>
            <td>{{car.name}}</td>
            <td>{{car.Color}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h2>NGIF</h2>
<div *ngFor="let e of employee">
    <li *ngIf="e.age>21 && e.dept=='Admin'">{{e.name}}{{e.age}}{{e.dept}}</li>
</div>
<hr>
<h3>Switch Case</h3>
<div *ngFor="let e of employee"[ngSwitch]="e.dept">
    <li *ngSwitchCase="'Admin'" class="text-sucsess">{{e.name}}{{e.dept}}</li>
    <li *ngSwitchCase="'UI'" class="text-danger">{{e.name}}{{e.dept}}</li>
    <li *ngSwitchDefault class="text-primary">{{e.name}}{{e.dept}}</li>
</div>

<hr>
<h3>Attribute Directive</h3>
<h2>ngClass</h2>

<ul *ngFor="let e of employee">
    <li [ngClass]="{'text-success': e.dept==='HR','text-danger':e.dept==='Admin'}">{{e.name}}{{e.dept}}</li>
</ul>

<hr>
<h3>Attribute Directive</h3>
<h2>ngStyle</h2>

<ul *ngFor="let car of Cars">
    <li [ngStyle]="{'color': 'red'}">{{car.name}}{{car.Color}}</li>
</ul>

