<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="AddProducts">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="listofproducts">ProductsList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="productinfo/:id">Product Info</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>